include .github/workflows/python-app.yml
include .github/workflows/release.yml
include .gitignore
include .gitmodules
include .readthedocs.yml
include CMakeLists.txt
include LICENSE
include README.md
include binder/postBuild
include build.sh
include cython
include docs/.nojekyll
include docs/MODULES.md
include docs/README.md
include docs/_config.yml
include docs/index.html
include docs/pysrc/ABI.md
include docs/pysrc/block_log.md
include docs/pysrc/chainapi.md
include docs/pysrc/chainapi_async.md
include docs/pysrc/chainapi_sync.md
include docs/pysrc/chaincache.md
include docs/pysrc/chainnative.md
include docs/pysrc/common.md
include docs/pysrc/compiler.md
include docs/pysrc/config.md
include docs/pysrc/crypto.md
include docs/pysrc/defaultabi.md
include docs/pysrc/eosBase.md
include docs/pysrc/exceptions.md
include docs/pysrc/google_docstring.md
include docs/pysrc/http_client.md
include docs/pysrc/index.md
include docs/pysrc/ledger.md
include docs/pysrc/log.md
include docs/pysrc/rpc_interface.md
include docs/pysrc/signTransaction.md
include docs/pysrc/test_helper.md
include docs/pysrc/testnet.md
include docs/pysrc/transaction.md
include docs/pysrc/utils.md
include docs/pysrc/wallet.md
include docs/pysrc/wasmcompiler.md
include examples/README.md
include examples/async.py
include examples/auths/linkauth.py
include examples/auths/unlinkauth.py
include examples/auths/updateauth.py
include examples/auths/updateauth2.py
include examples/create_account.py
include examples/ledger.py
include examples/msig.py
include examples/ram/buyram.py
include examples/ram/buyrambytes.py
include examples/ram/shellram.py
include examples/transfer.py
include gen_docs.sh
include install.sh
include mkdocs.yml
include notebooks/helloworld.ipynb
include pyproject.toml
include pysrc/ABI.py
include pysrc/__init__.py
include pysrc/block_log.py
include pysrc/chainapi.py
include pysrc/chainapi_async.py
include pysrc/chainapi_sync.py
include pysrc/chaincache.py
include pysrc/chainnative.py
include pysrc/common.py
include pysrc/compiler.py
include pysrc/config.py
include pysrc/contracts/eosio.bios/eosio.bios.abi
include pysrc/contracts/eosio.bios/eosio.bios.wasm
include pysrc/contracts/eosio.msig/eosio.msig.abi
include pysrc/contracts/eosio.msig/eosio.msig.wasm
include pysrc/contracts/eosio.system/eosio.system.abi
include pysrc/contracts/eosio.system/eosio.system.wasm
include pysrc/contracts/eosio.token/eosio.token.abi
include pysrc/contracts/eosio.token/eosio.token.wasm
include pysrc/contracts/eosio.wrap/eosio.wrap.abi
include pysrc/contracts/eosio.wrap/eosio.wrap.wasm
include pysrc/contracts/micropython/micropython.abi
include pysrc/contracts/micropython/micropython.wasm
include pysrc/contracts/micropython/micropython_eosio.wasm
include pysrc/crypto.py
include pysrc/data/eosio.system_eosio.abi
include pysrc/data/eosio.system_uuos.abi
include pysrc/data/eosio.token.abi
include pysrc/defaultabi.py
include pysrc/eosBase.py
include pysrc/exceptions.py
include pysrc/google_docstring.py
include pysrc/http_client.py
include pysrc/ledger.py
include pysrc/log.py
include pysrc/rpc_interface.py
include pysrc/test_helper.py
include pysrc/testnet.py
include pysrc/transaction.py
include pysrc/utils.py
include pysrc/wallet.py
include pysrc/wasmcompiler.py
include pytest/conftest.py
include pytest/data/eosio.token.abi
include pytest/pytest.ini
include pytest/run-test.sh
include pytest/t.py
include pytest/t2.py
include pytest/test.py
include pytest/test_abi.py
include pytest/test_async_client.py
include pytest/test_block_log.py
include pytest/test_c_apis.py
include pytest/test_chain_api.py
include pytest/test_deploy_contract.py
include pytest/test_eos_api.py
include pytest/test_eosapi.py
include pytest/test_eosapi_async.py
include pytest/test_ledger.py
include pytest/test_mp.py
include pytest/test_wallet.py
include pytest/test_wasm_compiler.py
include release.txt
include requirements-dev.txt
include requirements.txt
include scripts/download.py
include scripts/get_whl_file.py
include setup.cfg
include setup.py
include src/CMakeLists.txt
include src/_pyeoskit.pyx
include src/check_modification.py
include src/pyeoskit/.gitignore
include src/pyeoskit/LICENSE
include src/pyeoskit/README.md
include src/pyeoskit/go.mod
include src/pyeoskit/go.sum
include src/pyeoskit/lib.go
include src/pyeoskit/main.go
include src/pyeoskit/uuoskit/abi.go
include src/pyeoskit/uuoskit/abi_test.go
include src/pyeoskit/uuoskit/abiserializer.go
include src/pyeoskit/uuoskit/action.go
include src/pyeoskit/uuoskit/chain.go
include src/pyeoskit/uuoskit/chainapi.go
include src/pyeoskit/uuoskit/chainapi_test.go
include src/pyeoskit/uuoskit/constants.go
include src/pyeoskit/uuoskit/jsonvalue_test.go
include src/pyeoskit/uuoskit/map.go
include src/pyeoskit/uuoskit/name.go
include src/pyeoskit/uuoskit/rpc.go
include src/pyeoskit/uuoskit/rpc_test.go
include src/pyeoskit/uuoskit/serializer.go
include src/pyeoskit/uuoskit/structs.go
include src/pyeoskit/uuoskit/token.go
include src/pyeoskit/uuoskit/transaction.go
include src/pyeoskit/uuoskit/utils.go
include src/pyeoskit/uuoskit/uuoskit_test.go
include src/pyeoskit/uuoskit/wallet.go
include src/pyeoskit/wrapper.h
include tag.sh
exclude MANIFEST.in